
<div class="landingpage">
<div class="logo">
      <img style="display: block; margin-left: auto; margin-right: auto;" src="assets/img/logo.png" alt="" width="209" height="209">
</div>
<h1>DAOWIZ foundation</h1>
<br>
<a>We believe in a beautiful future! One where humanity, culture, arts and technology all move together in sync with nature's rythm.</a>
<hr>
<div class="buttons">
<a>Music/Arts</a>
<br>
<a>Technology</a>
<br>
<a>People and Planet</a>
</div>

<p></p>
<hr>
<p>
    <a href="maintenance"><img  style="display: block; margin-left: auto; margin-right: auto;" src="assets/img/aircraft_maintenance.png" alt="" width="270" height="48">
    </a>
</p>
<hr>
<p>
    <a href="avionics"><img style="display: block; margin-left: auto; margin-right: auto;" src="assets/img/aircraft_avionics.png" alt="" width="270" height="48">
    </a>
</p>
<hr>
<p>
    <a href="parts"><img style="display: block; margin-left: auto; margin-right: auto;" src="assets/img/aircraft_parts.png" alt="" width="270" height="48">
    </a>
</p>
<hr>
</div>
<!--Page look and listen - probably the first page-->



<!--Page "join the revolution" - ideas, skills, donate, invest, etc.-->



<!--Page bookings - book a gig + get daowiz to your neighborhood system -->


<!--Page treasure hunt-->
<!--Page residencies-->
<!--Page apprenticeships-->
