
<div class="landingpage">
<div class="logo">
      <!--<img style="text-align:center; display: block; margin-left: auto; margin-right: auto;" src="" alt="DAOWIZ foundation" width="209" height="209">-->
      <!--<a>~ Living Inspiration ~</a>
      <br>
      <a>are you ready for the future?</a>-->
</div>


<div style="margin-left:2em; margin-right:2em;">
<a>We believe in a beautiful future! </a>
<br>
<a>Where humanities culture, arts and technology all move in sync with nature.</a>
</div>
<hr>
<p>
    <a href="music-arts"><img  style="display: block; margin-left: auto; margin-right: auto;" src="" alt="Music/Arts" width="270" height="48">
    </a>
</p>
<hr>
<!--<p>
    <a href="technology"><img style="display: block; margin-left: auto; margin-right: auto;" src="" alt="Technology" width="270" height="48">
    </a>
</p>
<hr>
<p>
    <a href="planet"><img style="display: block; margin-left: auto; margin-right: auto;" src="" alt="People and Planet" width="270" height="48">
    </a>
</p>
<hr>
-->
</div>
<!--Page look and listen - probably the first page-->



<!--Page "join the revolution" - ideas, skills, donate, invest, etc.-->



<!--Page bookings - book a gig + get daowiz to your neighborhood system -->


<!--Page treasure hunt-->
<!--Page residencies-->
<!--Page apprenticeships-->
